$pane-height: 60vh;
$pane-width: 23vw;
$margin: 1vw;
$border-radius: 30px;
.carousel-view {
  display: flex;
  height: $pane-height;
  opacity: 0;

  .carousel-middle {
    margin-top: $margin;
    margin-bottom: $margin;
    scroll-behavior: smooth;

    .slides {
      display: flex;
      width: $pane-width * 3 + $margin * 4;
      overflow: hidden;
      scroll-behavior: smooth;
    }

    .slide {
      display: inline-block !important;
      margin-left: $margin;
      height: $pane-height;
      width: $pane-width;
      img {
        transition: filter 1s ease, opacity 1s ease;
      }
    }

    .middle-slide {
      img {
        filter: grayscale(0) !important;
        opacity: 1 !important;
        transition: filter 1s ease, opacity 1s ease;
      }
    }
  }

  .photograph-element {
    &.pane {
      height: $pane-height;
      width: $pane-width;
      overflow: hidden;
    }
    .photograph {
      img {
        opacity: 0.7;
        filter: grayscale(1);
        height: $pane-height;

        &:hover {
          opacity: 1 !important;
          filter: grayscale(0) !important;
          transition: filter 1s ease, opacity 1s ease;
          cursor: pointer;
        }
      }
    }
  }
}

.slide-in-right {
  animation: 4s ease-out 0s 1 carouselFadeIn forwards;
  animation-delay: 0s;
}

@keyframes carouselFadeIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
