$pane-height: 60vh;
$pane-width: 23vw;
$margin: 1vw;
$border-radius: 30px;
.carousel-view {
  display: flex;
  margin-left: 10vw;
  height: $pane-height;
  opacity: 0;

  .carousel-middle {
    margin-top: $margin;
    margin-bottom: $margin;
    margin-right: $margin;

    .slide {
      display: inline-block !important;
      margin-left: $margin;
      height: $pane-height;
      width: $pane-width;
      img {
        transition: filter 1s ease, opacity 1s ease;
      }
    }

    .middle-slide {
      img {
        filter: grayscale(0) !important;
        opacity: 1 !important;
        transition: filter 1s ease, opacity 1s ease;
      }
    }
  }

  .arrow {
    color: white;
    background-color: transparent;
    padding: 1em;
    height: 1.5vh;
    margin-top: calc((#{$pane-height} + 5vh) / 2);
    cursor: pointer;
    font-size: 30px;
    svg {
      position: relative;
      top: -2px;
      height: 20px;
    }

    &:hover {
      transform: scale(1.3); /* Equal to scaleX(0.7) scaleY(0.7) */
      top: -3px;
      transition: all 0.2s ease-in-out;
    }
  }

  .photograph-element {
    &.pane {
      height: $pane-height;
      width: $pane-width;
      overflow: hidden;
    }
    .photograph {
      img {
        opacity: 0.8;
        filter: grayscale(1);
        height: $pane-height;

        &:hover {
          filter: grayscale(0);
          opacity: 1 !important;
          transition: filter 1s ease, opacity 1s ease;
          cursor: pointer;
        }
      }
    }
  }
}

.slide-in-right {
  animation: 4s ease-out 0s 1 carouselFadeIn forwards;
  animation-delay: 0s;
}

@keyframes carouselFadeIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
