$pane-height: 60vh;
$pane-width: 23vw;
$margin: 1vw;
$border-radius: 30px;
.carousel-view {
  display: flex;
  margin-top: 2vh;
  margin-left: 10vw;
  height: $pane-height;
  opacity: 0;

  .carousel-middle {
    margin-top: $margin;
    margin-bottom: $margin;
    margin-right: $margin;

    .slide {
      display: inline-block !important;
      margin-left: $margin;
      height: $pane-height;
      width: $pane-width;
      img {
        transition: filter 1s ease, opacity 1s ease;
      }
    }

    .middle-slide {
      img {
        filter: grayscale(0) !important;
        opacity: 1 !important;
        transition: filter 1s ease, opacity 1s ease;
      }
    }
  }

  .arrow {
    color: white;
    border: 1px solid #5f5f5f;
    background-color: transparent;
    padding: 1em;
    height: 1.5vh;
    margin-top: calc(#{$pane-height}/ 2);
    cursor: pointer;
    svg {
      position: relative;
      top: -2px;
      height: 20px;
    }

    border-radius: $border-radius;
  }

  .photograph-element {
    &.pane {
      height: $pane-height;
      width: $pane-width;
      overflow: hidden;
    }
    .photograph {
      img {
        opacity: 0.9;
        filter: grayscale(1) contrast(105%);
        height: $pane-height;

        &:hover {
          filter: grayscale(0);
          opacity: 1 !important;
          transition: filter 1s ease, opacity 1s ease;
          cursor: pointer;
        }
      }
    }
  }
}

.slide-in-right {
  animation: 4s ease-out 0s 1 carouselFadeIn forwards;
  animation-delay: 3s;
}

.slide-fadeIn {
  animation: 4s ease-in 0s 1 slideFadeIn forwards !important;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes carouselFadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
