footer {
  position: fixed !important;
  bottom: 0;
  z-index: 7;
  color: white;
  padding-left: 56px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  font-family: "Julius Sans One";
  font-size: 30px;
  a,
  a:active,
  a:visited {
    color: white;
  }
  a:hover {
    color: grey;
  }
  .footer-button {
    cursor: pointer;
  }
}
