$pane-height: 30vh;
$pane-width: 11vw;
.grid-view-wrapper {
  margin-left: 4vw;
  margin-bottom: 200px;
}
.grid-view {
  display: flex;
  flex-wrap: wrap;
  .photograph-element {
    &.pane {
      height: $pane-height;
      width: $pane-width;
      padding-top: 0em;
      padding-bottom: 1em;
      padding-left: 1em;

      overflow: hidden;
    }
    .photograph {
      img {
        opacity: 1;
        height: $pane-height;
        filter: grayscale(1);
        &:hover {
          cursor: pointer;
          filter: grayscale(0);
          transition: filter 1s ease;
        }
      }
    }
  }
}
