nav {
  font-family: "Julius Sans One";
  position: relative;
  z-index: 6;
  color: white;
  text-align: right;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 0;
  margin-top: 0;
  ul {
    list-style-type: none;
    padding: 0.5em;
    li {
      display: inline-block;
      margin-left: 2em;
      padding-bottom: 0.5em;
      &:first-of-type {
        border-bottom: 4px solid white;
      }
      &:hover {
        cursor: pointer;
        border-bottom: 4px solid white;

        transition: border-bottom 0.6s ease;
      }
    }
  }
}
