nav {
  font-family: "Julius Sans One";
  position: relative;
  z-index: 6;
  color: white;
  text-align: right;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 0;
  margin-top: 0;
  font-size: 14px;

  .selectedPage {
    border-bottom: 4px solid #5f5f5f;
    margin-bottom: 1em;
    font-weight: bolder;
  }

  ul {
    list-style-type: none;
    padding: 0.5em;
    li {
      display: inline-block;
      margin-left: 2em;
      padding-bottom: 0.5em;
      &:hover {
        cursor: pointer;
        border-bottom: 4px solid #5f5f5f;
        margin-bottom: 1em;
        transition: border-bottom 0.6s ease;
        font-weight: bolder;
      }

      a,
      a:link,
      a:active {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.slide-in-top {
  animation: 3s linear 0s 1 navMenuFadeIn backwards;
  animation-delay: 2s;
}

@keyframes navMenuFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
